* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after,
html {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
